<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: head"></head>
<body>
<div id="container">

    <nav class="top-menu">
        <ul class="menu-main">
            <li>
                <a class="current" href="/" align="left"><b>The Voprostion</b></a>
            </li>

            <li>
                <a href="">About us</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a sec:authentication="name" th:href="@{'/user/'+${#authentication.name}}">Name</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/registration}">Register</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                Already have an account? <a th:href="@{/login}">Sign in</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Log out</a>
            </li>
        </ul>
    </nav>


    <div id="sidebar">

        <div class="search-container">
            <form th:action="@{/question/search/tag/}" method="get">
                <div class="search-input">
                    <input type="text" name="tagname" placeholder="Search.."/>
                </div>
                <div class="search-button">
                    <input type="image" th:src="@{/img/outline-search-24px.svg}"/>
                </div>
            </form>
        </div>

        <div align="bottom">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{'/user/'+${#authentication.name}}">Мои вопросы</a>
                <button onclick="location.href='/question/add';" align="left" class="buttonToAdd"><img
                        th:src="@{/img/drawing.svg}"/></button>
            </div>
        </div>
    </div>

    <div layout:fragment="content">

    </div>
</div>
</body>
</html>