<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: head"></head>
<body>
<div id="container">

    <nav class="top-menu">
        <ul class="menu-main">
            <li>
                <div class="current" align="left"><tt>The Voprostion</tt></div>
            </li>

            <li>
                <a href="">About us</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a sec:authentication="name" th:href="@{'/user/'+${#authentication.name}}" >Name</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/registration}"><tt>Register</tt></a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <tt>Already have an account?</tt> <a th:href="@{/login}">Sign in</a>
            </li>
        </ul>
    </nav>


    <div id="sidebar">
        <h2>Правая панель</h2>
        <div align="bottom">
            <div sec:authorize="isAuthenticated()">
                <a href="">Мои вопросы</a>
            </div>
            <div align="bottom" class="buttonToAdd"></div>
        </div>
    </div>

    <div layout:fragment="content">

    </div>
</div>
</body>
</html>