<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: head"></head>
<body>
<div id="container">

    <nav class="top-menu">
        <ul class="menu-main">
            <li>
                <a class="current" href="/" align="left"><tt><b>The Voprostion</b></tt></a>
            </li>

            <li>
                <a href=""><tt>About us</tt></a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a sec:authentication="name" th:href="@{'/user/'+${#authentication.name}}">Name</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/registration}"><tt>Register</tt></a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <tt>Already have an account?</tt> <a th:href="@{/login}"><tt>Sign in</tt></a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}"><tt>Log out</tt></a>
            </li>
        </ul>
    </nav>


    <div id="sidebar">


        <form th:action="@{/question/search/tag/}" method="get" id="search-block-form">
            <div id="searchFrame" class="form-item">
                <input type="text" name="tagname" value="" maxlength="128" placeholder="Search by a tag.."/>
            </div>
            <div class="form-actions">
                <input type="submit" name="op" value="Поиск" class="form-submit"/>
            </div>
        </form>


        <hr/>

        <div align="bottom">
            <div sec:authorize="isAuthenticated()">
                <a href=""><tt>Мои вопросы</tt></a>
                <button onclick="location.href='/question/add';" align="left" class="buttonToAdd"><img
                        th:src="@{/img/drawing.svg}"/></button>
            </div>
        </div>
    </div>

    <div layout:fragment="content">

    </div>
</div>
</body>
</html>