<head th:fragment="head" xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <title th:text="${metaTitle} ? ${metaTitle} : 'The Voprostion'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registrationPageStyles.css}"/>
</head>
<nav th:fragment="nav" class="top-menu">
    <ul class="menu-main">
        <li>
            <a class="current" href="/" align="left"><b>The Voprostion</b></a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a sec:authentication="name" th:href="@{'/user/'+${#authentication.name}}">Name</a>
        </li>

        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/registration}">Register</a>
        </li>

        <li sec:authorize="!isAuthenticated()">
            Already have an account? <a th:href="@{/login}">Sign in</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
        </li>
    </ul>
</nav>

