* {
    box-sizing: border-box
}

/* Answer */

.answer_frame {
    margin: 10px auto;
    border: 2px solid #00a087;
    border-radius: 4px;
    width: 60%;
    padding: 16px;
    overflow: auto;
}

.answer_header {
    float: right;
}

.answer_frame > p {
    margin-top: 34px;
    text-align: center;
}

.rating {
    margin: auto;
    overflow: auto;
    display: table;
    margin: 0 auto;
}

.rating div {
    overflow: auto;
}

.like img, .dislike img {
    width: 20px;
    height: 20px;
}

.like {
    float: left;
}

.rating_number {
    float: left;
    margin: auto 10px;
}

.dislike {
    float: left;
}

/* End Answer */


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#inputStyle {
    position: center;
    width: 270px;
    height: 40px
}

.warningFrame {
    border-style: groove;
    width: 340px;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px;
    height: auto;
    background-color: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #00a087;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#ButtonVote {
    height: 10px;
    width: 10px;
    background: white;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.top-menu {
    position: relative;
    background: #fff;
    box-shadow: inset 0 0 10px #ccc;
}

.current {
    align-content: left;
    align-items: left;
    text-align: left;
    font-size: 160%;
}

.top-menu:before,
.top-menu:after {
    content: "";
    display: block;
    height: 1px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 1px;
}

.top-menu:after {
    border-bottom: 3px solid #575350;
    border-top: 1px solid #575350;
    box-shadow: 0 2px 7px #ccc;
    margin-top: 1px;
}

.menu-main {
    list-style: none;
    padding-left: 40px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
}

.menu-main:before,
.menu-main:after {
    content: "\25C8";
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu-main:before {
    left: 15px;
}

.menu-main:after {
    right: 15px;
}

.menu-main li {
    display: inline-block;
    padding: 5px 0;
}

.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #777777;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
}

.menu-main .current, .menu-main a:hover {
    border-radius: 1px;
    background: white;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    font-size: 130%;
    border-color: #c6c6c6;
}

@media (max-width: 500px) {
    .menu-main li {
        display: block;
    }
}

.nav-bar-text {
    font-weight: bold;
    font-size: 160%;
}

H1 {
    font-weight: bold;
    font-size: 190%;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 35px;
    background-color: #00a087;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.buttonToAdd {
    display: inline-block;
    margin-top: 400px;
    width: 10px;
    height: 70px;
    background: white;
    cursor: pointer;
    align-self: left;
    border-radius: 50%;
    margin-right: 120px;

}

body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#header {
    background: #F5DEB3;
    width: 100%;
    height: 55px;
}

#container {
    background: whitesmoke;
    margin: auto auto;
    text-align: center;
    width: 80%;
    height: 400px;
}

#questionPreview {
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 27px;
    width: 85%;
    height: 100%; /* Размеры */
    background: whitesmoke;
    outline: 1px solid #004d39; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */

}

#answerFrame {
    width: 60%;
    margin-left: 50px;
    height: 100%; /* Размеры */
    background: #fafafa;
    outline: 1px solid #c7c5c5; /* Чёрная рамка */
    border: 2px solid #fff; /* Белая рамка */

}


#searchFrame {
    width: 40%;
    margin: 15px;
    height: 100%; /* Размеры */
    outline: 1px solid #c7c5c5; /* Чёрная рамка */
    border: 2px solid #fff; /* Белая рамка */

}

/* Search */
#search-block-form {
    margin: 15px;
    margin: 15px;
    width: 90%;
    height: 35px;
    border-radius: 15px;
    border: #444444 solid 1px;
    background: url(/img/round-search-24px.svg) left top repeat-x;
}

.focus-active {
    border-color: #aaa !important;
    background: #fff !important;
}

#search-block-form input {
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 100%;
}

#search-block-form .form-actions {
    width: 28px;
    height: 28px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    background: url(/img/round-search-24px.svg) 5px 2px no-repeat;
}

#search-block-form .form-actions input:hover {
    cursor: pointer;
}

#search-block-form .form-actions input {
    overflow: hidden;
    text-indent: -9999px;
}

#search-block-form .form-item {
    width: 80%;
    padding: 0px 5px;
    float: right;
    height: 28px;
}

#search-block-form .form-item input {
    font: 13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 16px;
    height: auto !important;
    padding: 6px 0;
}

.placeholder {
    color: #cbcbcb !important;
}

#search {
    margin: 50px auto;
    width: 300px;
    height: 50px;

}

#sidebar {
    float: right;
    width: 20%;
}

#tagsButton {
    width: auto;
    height: auto;
    margin: 5px;
    margin-bottom: 12px;
    font-size: 15px;
}

#content {
    background: white;
    float: right;
    width: 80%;
}
