* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#inputStyle {
    position: center;
    width: 270px;
    height :40px
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #00a087;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}




/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}






@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.top-menu {
    position: relative;
    background: #fff;
    box-shadow: inset 0 0 10px #ccc;
}
.current{
    align-content: left;
    align-items: left;
    text-align: left;
    font-size: 160%;
}
.top-menu:before,
.top-menu:after {
    content: "";
    display: block;
    height: 1px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 1px;
}
.top-menu:after {
    border-bottom: 3px solid #575350;
    border-top: 1px solid #575350;
    box-shadow: 0 2px 7px #ccc;
    margin-top: 1px;
}
.menu-main {
    list-style: none;
    padding-left: 40px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
}
.menu-main:before,
.menu-main:after {
    content: "\25C8";
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.menu-main:before {left: 15px;}
.menu-main:after {right: 15px;}
.menu-main li {
    display: inline-block;
    padding: 5px 0;
}
.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #777777;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
}

.menu-main .current, .menu-main a:hover {
    border-radius: 1px;
    background: white;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    font-size: 130%;
    border-color: #c6c6c6;
}
@media (max-width: 500px) {
    .menu-main li {display: block;}
}

.nav-bar-text{
    font-weight: bold;
    font-size: 160%;
}

H1{
    font-weight: bold;
    font-size: 190%;
}

.fixed-nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 35px;
    background-color: #00a087;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


.buttonToAdd{
    display: inline-block;
    margin-top: 500px;
    width: 70px;
    height: 70px;
    background: #004d39;
    cursor: pointer;
    border-radius: 50%;

}


body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#header {
    background: #F5DEB3;
    width: 100%;
    height: 55px;
}

#container {
    background: whitesmoke;
    margin: auto auto;
    text-align: center;
    width: 80%;
    height: 400px;
}

#questionPreview{
    margin-top: 60px;
    margin: 40px;
    width: auto;
    height: 100%; /* Размеры */
    background: whitesmoke;
    outline: 1px solid #004d39; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */

}

#sidebar {
    float: right;
    width: 20%;
}

#tagsButton{
    width: auto;
    height: auto;
    margin: 5px;
    font-size: 15px;
}

#content {
    background: white;
    float: right;
    width: 80%;
}
