<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <div id="content">

        <H1 align="center" style="margin-top: 30px"><b>Ask a Vopros!</b></H1>
        <hr/>
        <!--/*@thymesVar id="question" type="ru.voprostion.app.domain.dto.QuestionDto"*/-->
        <form th:action="@{/question/add}" th:object="${questionForm}" method="post">

            <label><b><p align="center">Question</p></b></label>
            <div align="center">
                <textarea th:field="*{question}" type="text" style="width: 380px; height :70px;"
                       placeholder="Enter Question"/>
                <div class="warningFrame" th:if="${#fields.hasErrors('question')}">
                    <img src="/img/baseline-error_outline-24px.svg" height="40px" align="left"/>
                    <p th:errors="*{question}"></p>
                </div>
            </div>

            <label><b><p align="center">Comma separated tags</p></b></label>
            <div align="center">
                <input th:field="*{tags}" type="text" style="width: 270px; height :20px;"
                       placeholder="Enter Tags"/>
                <div class="warningFrame" th:if="${#fields.hasErrors('tags')}">
                    <img src="/img/baseline-error_outline-24px.svg" height="40px" align="left"/>
                    <p th:errors="*{tags}"></p>
                </div>
            </div>

            <hr/>

            <div align="center">
                <button type="submit" style="width: 270px; height: 40px" class="registerbtn">Ask</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>