<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layouts/defaul">
<body>
<div id="page" layout:fragment="content">
    <div id="content">

        <H1 align="center" style="margin-top: 30px"><b>Edit Tag</b></H1>
        <hr/>
        <!--/*@thymesVar id="question" type="ru.voprostion.app.domain.dto.QuestionDto"*/-->
        <form th:action="@{/question/__${question.id}__/edit}" th:object="${question}" method="post">
            <label><b><p align="center">Question</p></b></label>
            <div align="center">
                <p th:text="*{question}" style="width: 380px; height :70px;"></p>
            </div>
            <input type="hidden" th:field="*{question}"/>
            <label><b><p align="center">Comma separated tags</p></b></label>
            <div align="center">
                <input th:field="*{tags}" type="text" style="width: 270px; height :20px;"
                       placeholder="Enter Tags"/>

                <div class="warningFrame" th:if="${#fields.hasErrors('tags')}">
                    <img src="img/baseline-error_outline-24px.svg" height="40px" align="left"/>
                    <p th:errors="*{tags}"></p>
                </div>

            </div>

            <hr/>

            <div align="center">
                <button type="submit" style="width: 270px; height: 40px" class="registerbtn">Edit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>