<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layouts/default">


<head th:replace="layouts/header :: head"></head>
<body>


<div align="center" class="warningFrame" style="height: 60px; ">
    <img src="/img/baseline-error_outline-24px.svg" height="60px" align="left"/>
    <p>Sorry! This page has gone to the UML lesson!</p>
</div>

<img width="100%" src="/img/itmo.jpg"/>

</body>
</html>