<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Registration</title>
</head>
<body>

<h1>Login page</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>:
    <input type="text"
           id="username"
           name="username"
           class="form-control"
           autofocus="autofocus"
           placeholder="Username"/>
    <label for="password">Password</label>:
    <input type="password"
           id="password"
           name="password"
           class="form-control"
           placeholder="Password"/>
    <input type="submit"
           name="login-submit"
           id="login-submit"
           class="form-control btn btn-info"
           value="Log In"/>

    <div class="form-group">
        <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
    </div>
</form>
</body>
</html>