<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <div id="content">

        <H1 align="center" style="margin-top: 30px"><b>Log in</b></H1>
        <hr/>
        <form th:action="@{/login}" method="post">

            <div align="center" class="warningFrame" th:if="${error != null}" >
                <img src="img/baseline-error_outline-24px.svg" height="40px" align="left"/>
                <p align="center" th:text="${error}"></p>
            </div>
            <label><b><p align="center">Login</p></b></label>
            <div align="center">
                <input type="text" style="width: 270px; height :40px;" placeholder="Enter Email"
                       name="username"/>
            </div>

            <label><b><p align="center">Password</p></b></label>
            <div align="center">
                <input type="password" style="width: 270px; height :40px;" placeholder="Enter Password"
                       name="password"/>
            </div>

            <hr/>

            <div align="center">
                <button type="submit" style="width: 270px; height: 40px" class="registerbtn">Log in</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
