<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <div id="content">

        <H1 align="center" style="margin-top: 30px"><b><tt>Log in</tt></b></H1>
        <hr/>
        <form th:action="@{/login}" method="post">

            <label><b><p align="center"><tt>Login</tt></p></b></label>
            <div align="center">
                <input type="text" style="width: 270px; height :40px;" placeholder="Enter Email"
                       name="username"/>
            </div>

            <label><b><p align="center"><tt>Password</tt></p></b></label>
            <div align="center">
                <input type="password" style="width: 270px; height :40px;" placeholder="Enter Password"
                       name="password"/>
            </div>

            <hr/>

            <div align="center">
                <button type="submit" style="width: 270px; height: 40px" class="registerbtn">Log in</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
