<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <div id="content">
        <th:block th:each="question : ${questions}">
            <div id="questionPreview" align="center">
                <div>
                    <h5 align="right" style="margin-right: 10px">
                        <a th:text="${question.user.name}" th:href="@{/user/__${question.user.name}__}"></a>

                        <span
                                th:text="|${' • ' + #lists.size(question.answers)}| + ' answers'"></span>
                    </h5>
                </div>

                <p class="question_title">
                    <a th:href="@{'/question/' + ${question.id}}"><span th:text="${question.questionTitle}"></span></a>
                </p>
                <div>
                    <th:block th:each="tag : ${question.tags}">
                        <form style="display: inline" method="get" th:action="@{/question/tag/__${tag.tagName}__}">
                            <button type="submit" id="tagsButton" th:text="${tag.tagName}"></button>
                        </form>
                    </th:block>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>