<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div id="page" layout:fragment="content">
    <div id="content">
        <!--/*@thymesVar id="question" type="ru.voprostion.app.domain.dto.QuestionDto"*/-->
        <div id="questionPreview" align="center">
            <div>
                <h5 align="right" style="margin-right: 10px">

                    <a th:text="${question.user.name}" th:href="@{/user/__${question.user.name}__}"></a>

                    <span
                            th:text="|${' • ' + #lists.size(question.answers)}| + ' answers'"></span>

                </h5>
            </div>

            <p class="question_title"><span th:text="${question.question}"></span></p>
            <div>
                <th:block th:each="tag : ${question.tags}">
                    <form style="display: inline" method="get" th:action="@{/question/tag/__${tag.name}__}">
                        <button type="submit" id="tagsButton" th:text="${tag.name}"></button>
                    </form>
                </th:block>
            </div>
            <a sec:authorize="hasAuthority('MODERATOR')"
               th:href="@{/question/__${question.id}__/edit}">Edit tags</a>
        </div>
        <!--/*@thymesVar id="answerForm" type="ru.voprostion.app.controller.form.AnswerForm"*/-->
        <div align="center" th:if="${answerForm != null}">
            <form th:action="@{__${#httpServletRequest.requestURI}__/answer}" th:object="${answerForm}" method="post">
                <label><b><p align="center">Answer</p></b></label>
                <div align="center">
                    <textarea th:field="*{answer}" type="text" style="width: 350px; height :80px;"
                              placeholder="Enter Answer"/>
                </div>
                <div align="center">
                    <button type="submit" style="width: 270px; height: 40px" class="registerbtn">Answer</button>
                </div>
            </form>
        </div>
        <hr/>

        <th:block th:each="answer : ${question.answers}">
            <div class="answer_frame">
                <div class="answer_header">
                    <a th:text="${answer.user.name}" th:href="@{/user/__${answer.user.name}__}">andrey</a>
                    <span th:text="|${' • ' + answer.votes}| + ' votes'">13 votes</span>
                    <a sec:authorize="hasAuthority('MODERATOR')"
                       th:href="@{/moderator/answer/delete/__${answer.id}__}">Delete</a>
                </div>
                <p th:text="${answer.answer}">This is the answer</p>
                <div class="rating">
                    <div class="like">
                        <a sec:authorize="isAuthenticated()"
                           th:if="${answer.user.name != #authentication.name}"
                           th:href="@{__${#httpServletRequest.requestURI}__/like/{id}(id=${answer.id})}">
                            <img th:src="@{/img/like.png}"/>
                        </a>
                    </div>
                    <div class="rating_number" th:text="${answer.rating}"
                         th:style="${answer.loggedUserVote != null ? 'color:#00cc00;' : ''}">8
                    </div>
                    <div class="dislike">
                        <a sec:authorize="isAuthenticated()"
                           th:if="${answer.user.name != #authentication.name}"
                           th:href="@{__${#httpServletRequest.requestURI}__/dislike/{id}(id=${answer.id})}">
                            <img th:src="@{/img/dislike.png}"/>
                        </a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>